body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1, .header {
    padding: 10px;
    margin: 0;
    font-size: 30px;
    background: #22bb88;
    color: white;
    transition: background 1s;
}
.header.-active {
    background: #440044;
}
.header.-about {
    background: #0086b3;
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #22bb88;
    outline: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}
.checkbox input {
    display: none;
}
.checkbox input + span:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../icons/checkbox.svg);
    background-size: 24px;
    vertical-align: middle;
}
.checkbox input:checked + span:before {
    background-image: url(../icons/checkbox-checked.svg);
}
.v-todo--counter {
    height: 14px;
    font-size: 12px;
    text-align: right;
    color: #999999;
    padding: 4px;
}
.v-todo--count {
    font-size: 14px;
    color: #999999;
    padding: 4px;
}